.downloader {
    color: #fff;
}
/*Layouts*/
.downloaderLayout {
    display:grid;
    grid-template-columns: [firstStart]6rem [firstEnd secondStart] 6fr [secondEnd thirdStart] 4fr [thirdEnd fourthStart] 6rem [fourthEnd];
    grid-template-rows: [firstStart] 4rem [firstEnd secondStart] 4rem [secondEnd thirdStart] auto [thirdEnd] ;
    grid-gap: 2rem;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.header {
    grid-column: secondStart/thirdEnd;
    grid-rows: firstStart/firstEnd;
    justify-self: center;
    align-self: center;
}

.searchBar {
    grid-column: secondStart/thirdEnd;
    grid-rows: secondStart/secondEnd;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.videoContainer {
    grid-column: secondStart/secondEnd;
    
    position: relative;
    padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;

}




.videoAttributes {
    grid-column: firstStart/secondEnd;
    justify-self: center;
    align-self: center;
    display: flex;
    
}

.videoDownload {
    grid-column: firstStart/secondEnd;
    justify-self: center;
    align-self: center;

}
.videoPlaylistHolder {
    grid-column: thirdStart/thirdEnd;
    grid-row: thirdStart/thirdEnd;
    justify-self: center;
    align-self: center;
}

/*Styling of Components */

/* Header */
.heading {
    font-weight: 400;
    margin-top: 3rem; 
}

/* SearchBar */
.urlInput {
    width: 25rem;
    border: 1.5px solid #f70001;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    transition: all .35s ease-in-out;
    outline-color: #f70001;
    text-align: center
}

.urlInput:focus {
    width: 35rem;
    transform: scale(1.05);
}

.btn {
    border: 1.5px solid #f70001;
    padding: 1rem;
    font-size: 1.1rem;
    background-color:  #f70001;
    color: #fff;
    cursor: pointer;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
    transition: all .35s ease-in-out;
    font-weight: 300;
}

.btn:hover {
    transform: translate(-0.2rem) scale(1.1);
}

/* VideoPriview */

.imagePreview {
    border:none;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}
.videoPreview {
    border:none;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}



/* Video Attributes  */

.videoAttributes {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Custom Select */

.labelTextQuality {
    margin-top:1rem;
}
.videoQualitySelector {
    position: relative;
    display: block;
    width: 10rem;
    height: 3rem;
    line-height: 3;
    background: #f70001;
    overflow: hidden;
    border-radius: .25rem;
    color: #fff;
    

  }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #f70001;
    background-image: none;
  }
  
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
  }
  select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .videoQualitySelector::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem;
    background: #f70001;
    color: #fff;
    pointer-events: none;
  }
  /* Transition */
  .videoQualitySelector:hover::after {
    transform: scale(1.2);
  }
  .videoQualitySelector::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

/*subtitleSelectorCheckbox */
.subtitleSelector {
    margin-top:1rem;
    margin-left:6rem;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  /* Hide the browser's default checkbox */
  .subtitleSelector input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 10px;
  }
  
  .subtitleSelector .labelText:hover {
      cursor: pointer;
  }
  /* On mouse-over, add a grey background color */
  .subtitleSelector:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .subtitleSelector input:checked ~ .checkmark {
    background-color: #f70001;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .subtitleSelector input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .subtitleSelector .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.labelText {
    letter-spacing: 0.1rem;
    margin-right: 0.6rem;
}

.videoDownload {
    margin-left: 6rem; 
}
/*VideoPlaylist */



/* media Queries */
@media screen and (max-width: 600px ) {
    .videoPlaylistHolder {
        width: 20rem;
    }

    .urlInput {
        width: 5rem;
       
    }
    
    .urlInput:focus {
        width: 6rem;
        transform: scale(1.05);
    }

}


@media screen and (max-width: 800px ) {
    .urlInput {
        width: 20rem;
       
    }
    
    .urlInput:focus {
        width: 30rem;
        transform: scale(1.05);
    }
}


@media screen and (max-width: 1024px){
    .videoPlaylistHolder {
        margin-left:4rem;
    }

} 

@media screen and (max-width: 1250px) {
    .downloaderLayout {
   
    grid-template-columns: [firstStart]1rem [firstEnd secondStart] 6fr [secondEnd thirdStart] 4fr [thirdEnd fourthStart] 1rem [fourthEnd];
    grid-template-rows: [firstStart] 4rem [firstEnd secondStart] 4rem [secondEnd thirdStart] auto [thirdEnd fourthStart] 4rem [fourthEnd fifthStart] 4rem [fifthEnd sixthStart] auto [sixEnd];
    grid-gap: 1.5rem;
    justify-self: center;
    align-self: center;
    }

    .videoContainer {
        grid-column: secondStart/thirdEnd;
         
    }

    .videoAttributes {
        grid-column: secondStart/thirdEnd;
        grid-row: fourthStart/fourthEnd;
        
    }

    .videoDownload {
        grid-column: secondStart/thirdEnd;
        grid-row: fifthStart/fifthEnd;
    }
    .videoPlaylistHolder {
        grid-column: secondStart/thirdEnd;
        grid-row: sixthStart/sixthEnd;
        justify-self: center;
        align-self: center;
        margin-left:2rem;
    }

    .videoDownload {
        margin-left: 3rem;
    }

    

}
